<!-- <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<body>

    <div class="d-flex-center" id="signupModal">
     
        <form class="formulario" id="signup-form">
            <div>
                <img [routerLink]="['/landing']" src="assets/img/TituloDOT.png" />
            </div>
            
            <h2 class="create-account">¿Olvidaste la contraseña?</h2>
            
            <p class="cuenta-gratis">Ingresa la nueva contraseña</p>
            <div>
                <input type="text" id="signup-email" class="form-control mb-3" placeholder="Nueva contraseña" required>
            <input type="password" id="signup-password" class="form-control mb-3" placeholder="Repetir contraseña" required>
            <button [routerLink]="['/login']" type="submit" text="Iniciar Sesión">Confirmar</button>
             </div>
            
        </form>
    </div>
   
</body>
 -->

 <ion-content [fullscreen]="true">

    <div class="header">
      <img [routerLink]="['/landing']" src="assets/img/TituloDOT.png" />

      <ion-title class="title" size="large">Restablecer contraseña</ion-title>
      <p class="subtitle">Recibiras un link para reestablecer tu contraseña</p>
    </div>
   <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="email" placeholder="Correo electronico" class="input" />
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <ion-button class="sendBtn" expand="block" shape="round" (click)="reset()">Enviar</ion-button>
    </div>
    
  </ion-content>
  