<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>googlemaps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">googlemaps</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home"></ion-icon>
          inicio
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/noticias']">
          <ion-icon name="newspaper"></ion-icon>
          noticias
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/acerca']">
          <ion-icon name="information"></ion-icon>
          acerca
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/contacto']">
          <ion-icon name="call"></ion-icon>
          contacto
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/productos']">
          <ion-icon name="file-tray-stacked"></ion-icon>
          productos
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
