<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tituloBg">noticias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img src="assets/img/img1.jpg" />
    <ion-card-header>
      <ion-card-title class="tituloapp">BLOG DE DESARROLLADORES</ion-card-title>
    </ion-card-header>
  </ion-card>
<ion-card>
  <ion-grid class="contenedor">

     
    <ion-card class="card">
      <ion-grid class="card-header">
        <img src="assets/img/ionic1.png" />
      </ion-grid>
      
      <ion-card-header>
        <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
        <ion-card-title>Nueva imagen, nuevo capitulo, nuevos personajes </ion-card-title>
      </ion-card-header>
    </ion-card>
   
 
    
      <ion-card class="card">
        <ion-grid class="card-header">
          <img src="assets/img/unity1.png" />
        </ion-grid>
        
        <ion-card-header>
          <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
          <ion-card-title>Inicia una nueva era con su renovación de marca este diciembre</ion-card-title>
        </ion-card-header>
      </ion-card>
      
     
        <ion-card class="card">
          <ion-grid class="card-header">
            <img  src="assets/img/unity2.jpg" />
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
            <ion-card-title>HUD y ajustes de interfaz de nuevos personajes </ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card class="card">
          <ion-grid class="card-header">
            <img src="assets/img/ionic1.png" />
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
            <ion-card-title>Nueva imagen, nuevo capitulo, nuevos personajes </ion-card-title>
          </ion-card-header>
        </ion-card>
       
     
        
          <ion-card class="card">
            <ion-grid class="card-header">
              <img src="assets/img/unity1.png" />
            </ion-grid>
            
            <ion-card-header>
              <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
              <ion-card-title>Inicia una nueva era con su renovación de marca este diciembre</ion-card-title>
            </ion-card-header>
          </ion-card>
          
         
            <ion-card class="card">
              <ion-grid class="card-header">
                <img  src="assets/img/unity2.jpg" />
              </ion-grid>
              
              <ion-card-header>
                <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
                <ion-card-title>HUD y ajustes de interfaz de nuevos personajes </ion-card-title>
              </ion-card-header>
            </ion-card>
  
  </ion-grid>
</ion-card>
<ion-card>
  
  <video width="100%" controls>
    <source src="assets/video/trailerDOT.mp4" type="video/mp4">
  </video>
  
  <ion-card-header>
    <ion-card-title class="tituloapp">DON´T OVERTHINK COMING SOON</ion-card-title>
    <ion-card-subtitle class="subtituloapp"> El nuevo juego inspirado en salud mental desarrollado por PJ CREATIONS está por llegar al mundo gaming esperalo pronto </ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card>
<ion-grid class="contenedor">

   
  <ion-card class="card">
    <ion-grid class="card-header">
      <img src="assets/img/ionic1.png" />
    </ion-grid>
    
    <ion-card-header>
      <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
      <ion-card-title>Nueva imagen, nuevo capitulo, nuevos personajes </ion-card-title>
    </ion-card-header>
  </ion-card>
 

  
    <ion-card class="card">
      <ion-grid class="card-header">
        <img src="assets/img/unity1.png" />
      </ion-grid>
      
      <ion-card-header>
        <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
        <ion-card-title>Inicia una nueva era con su renovación de marca este diciembre</ion-card-title>
      </ion-card-header>
    </ion-card>
    
   
      <ion-card class="card">
        <ion-grid class="card-header">
          <img  src="assets/img/unity2.jpg" />
        </ion-grid>
        
        <ion-card-header>
          <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
          <ion-card-title>HUD y ajustes de interfaz de nuevos personajes </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="card">
        <ion-grid class="card-header">
          <img src="assets/img/ionic1.png" />
        </ion-grid>
        
        <ion-card-header>
          <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
          <ion-card-title>Nueva imagen, nuevo capitulo, nuevos personajes </ion-card-title>
        </ion-card-header>
      </ion-card>
     
   
      
        <ion-card class="card">
          <ion-grid class="card-header">
            <img src="assets/img/unity1.png" />
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
            <ion-card-title>Inicia una nueva era con su renovación de marca este diciembre</ion-card-title>
          </ion-card-header>
        </ion-card>
        
       
          <ion-card class="card">
            <ion-grid class="card-header">
              <img  src="assets/img/unity2.jpg" />
            </ion-grid>
            
            <ion-card-header>
              <ion-card-subtitle>06/10/2023 | ANUNCIOS</ion-card-subtitle>
              <ion-card-title>HUD y ajustes de interfaz de nuevos personajes </ion-card-title>
            </ion-card-header>
          </ion-card>

</ion-grid>
</ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <a href='https://www.facebook.com/'><ion-icon name="logo-facebook" style="color:dodgerblue"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.youtube.com/'><ion-icon name="logo-youtube" style="color:red"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.github.com/'><ion-icon name="logo-github" style="color:gray"></ion-icon></a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home"></ion-icon>
          inicio
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/noticias']">
          <ion-icon name="newspaper"></ion-icon>
          noticias
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/tienda']">
          <ion-icon name="cart"></ion-icon>
          tienda
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/acerca']">
          <ion-icon name="information"></ion-icon>
          acerca
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/contacto']">
          <ion-icon name="call"></ion-icon>
          contacto
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
