<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
   
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tituloBg">News</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img src="assets/img/news.png" />
    <ion-card-header>
      <ion-card-title class="tituloapp">Last News</ion-card-title>
    </ion-card-header>
  </ion-card>
<ion-card>
  <ion-grid class="contenedor">

     
    <ion-card class="card">
      <ion-grid class="card-header">
        <img src="assets/img/6.png" />
        
      </ion-grid>
      
      <ion-card-header>
        <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
        <ion-card-title>New Character, "Lilmott"</ion-card-title>
      </ion-card-header>
    </ion-card>
   
 
    
      <ion-card class="card">
        <ion-grid class="card-header">
          <img src="assets/img/5.png" />  
        </ion-grid>
        
        <ion-card-header>
          <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
          <ion-card-title>New Character, "Renata"</ion-card-title>
        </ion-card-header>
      </ion-card>
      
     
        <ion-card class="card">
          <ion-grid class="card-header">
            <img src="assets/img/3.png" />
            
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
            <ion-card-title>New Character | "Noah" </ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card class="card">
          <ion-grid class="card-header">
            <img  src="assets/img/4.png" />
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
            <ion-card-title>New image, new chapter, new characters </ion-card-title>
          </ion-card-header>
        </ion-card>
       
     
        
          <ion-card class="card">
            <ion-grid class="card-header">
              <img src="assets/img/9.png" />
            </ion-grid>
            
            <ion-card-header>
              <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
              <ion-card-title>A new era is coming.</ion-card-title>
            </ion-card-header>
          </ion-card>
          
         
            <ion-card class="card">
              <ion-grid class="card-header">
                <img  src="assets/img/2.png" />
              </ion-grid>
              
              <ion-card-header>
                <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
                <ion-card-title>HUD and new character interface adjustments</ion-card-title>
              </ion-card-header>
            </ion-card>
  
  </ion-grid>
  <ion-grid class="contenedor">

     
    <ion-card class="card">
      <ion-grid class="card-header">
        <img src="assets/img/map1.jpeg" />
      </ion-grid>
      
      <ion-card-header>
        <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
        <ion-card-title>New setting, new chapter, new characters.</ion-card-title>
      </ion-card-header>
    </ion-card>
   
 
    
      <ion-card class="card">
        <ion-grid class="card-header">
          <img src="assets/img/logoempresa.png" />
        </ion-grid>
        
        <ion-card-header>
          <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
          <ion-card-title>Starts a new era with its brand renewal this December.</ion-card-title>
        </ion-card-header>
      </ion-card>
      
     
        <ion-card class="card">
          <ion-grid class="card-header">
            <img  src="assets/img/fondologin.png" />
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
            <ion-card-title>HUD and interface settings.</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card class="card">
          <ion-grid class="card-header">
            <img src="assets/img/ionic1.png" />
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
            <ion-card-title>A new update is coming on December 24.</ion-card-title>
          </ion-card-header>
        </ion-card>
       
     
        
          <ion-card class="card">
            <ion-grid class="card-header">
              <img src="assets/img/unity1.png" />
            </ion-grid>
            
            <ion-card-header>
              <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
              <ion-card-title>Get to know the new products that Dont Overthink has for you.</ion-card-title>
            </ion-card-header>
          </ion-card>
          
         
            <ion-card class="card">
              <ion-grid class="card-header">
                <img  src="assets/img/unity2.jpg" />
              </ion-grid>
              
              <ion-card-header>
                <ion-card-subtitle>06/10/2023 | NEWS</ion-card-subtitle>
                <ion-card-title>The new game Don't Overthink developed on the best platform.</ion-card-title>
              </ion-card-header>
            </ion-card>
  
  </ion-grid>
  
</ion-card>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <a href='https://www.facebook.com/profile.php?id=61553919293374'><ion-icon name="logo-facebook" style="color:dodgerblue"></ion-icon></a>
    </ion-fab-button>
    <ion-fab-button>
      <a href='https://www.instagram.com/dontoverthinkpj/'><ion-icon name="logo-instagram" style="color:hotpink"></ion-icon></a>
    </ion-fab-button>
    <ion-fab-button>
      <a href='https://www.linkedin.com/in/brayan-yahir-gallegos-estrada-2950aa273/'><ion-icon name="logo-linkedin" style="color:midnightblue"></ion-icon></a>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/noticias']">
          <ion-icon name="newspaper"></ion-icon>
          News
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/acerca']">
          <ion-icon name="information"></ion-icon>
          About Us
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/contacto']">
          <ion-icon name="call"></ion-icon>
          Contacts
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/productos']">
          <ion-icon name="file-tray-stacked"></ion-icon>
          Products
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
