<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<body>
    <!-- <h2>Bienvenido a Don´t Overthink</h2> -->
    <div class="d-flex-center">
      
        <form class="formulario" id="signup-form">
            <div>
                <img src="assets/img/TituloDOT.png" />
            </div>
            
            <h2 class="create-account">Bienvenido a Don´t Overthink
                
            </h2>
            
            <p class="cuenta-gratis">Registrate a la comunidad de Don´t Overthink para poder tener acceso a todas las funciones de la aplicación, si ya eres miembro inicia sesión ahora mismo </p>
            <div>
                
            <button [routerLink]="['/login']" type="submit" text="Iniciar Sesión" >Iniciar sesión</button>
            <button [routerLink]="['/sign-up']" type="submit" text="Registro" >Registrarse</button>


             </div>
            
        </form>
    </div>
   
</body>
    
    
      


  
