<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<body>
    <!-- <h2>Bienvenido a Don´t Overthink</h2> -->
    <div class="d-flex-center">
      
        <form class="formulario" id="signup-form">
            <div>
                <img src="assets/img/TituloDOT.png" />
            </div>
            
            <h2 class="create-account">Welcome to Don´t Overthink
                
            </h2>
            
            <p class="cuenta-gratis">Register to the Don't Overthink community to have access to all the functions of the application, if you are already a member, log in right now.</p>
            <div>
                
            <button [routerLink]="['/login']" type="submit" text="Iniciar Sesión"> Sign in</button>
            <button [routerLink]="['/sign-up']" type="submit" text="Registro">Sign up</button>


             </div>
            
        </form>
    </div>
   
</body>
    
    
      


  
