<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tituloBg">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-avatar class="imgPerfil">
      <img alt="Silhouette of a person's head" src="assets/img/brayan.jpg" />
    </ion-avatar>
    <ion-card-header>
      <ion-card-title class="cardTitle">Brayan Yahir Gallegos Estrada</ion-card-title>
      <ion-card-subtitle class="cardSubtitle">I am a student of Software Development and Management Engineering at the Technological University of Nayarit, I have a TSU degree in Information Technology Multiplatform Software Development Area. I am currently pursuing a degree in Engineering in Software Development and Management.</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-icon 
        name="calendar"
        item-start
        style="color :steelblue">  
        </ion-icon>
        Age
      </ion-item>
      <ion-card-subtitle class="cardSubtitle">24 Years</ion-card-subtitle>

      <ion-item>
        <ion-icon 
        name="diamond"
        item-start
        style="color :silver">  
        </ion-icon>
        Aptitudes
      </ion-item>
      <ion-card-subtitle class="cardSubtitle">Problem solving • Leadership • Teamwork • Creativity • Flexibility</ion-card-subtitle>
  
      <ion-item>
        <ion-icon 
        name="trophy"
        item-start
        style="color :goldenrod">  
        </ion-icon>
        Skills
      </ion-item>
      <ion-card-subtitle class="cardSubtitle">•	HTML
        •	CSS
        •	Bootstrap
        •	JavaScript
        •	TypeScript
        •	Postman
        •	Trello
        •	GitHub
        •	Node JS
        •	Android Studio
        •	Apex
        •	Python
        •	Java
        •	C#
        •	Git
        •	Angular
        •	Firebase
        •	Ionic
        •	MySQL
        •	NativeScript
        •	Salesforce
        •	Servicio TI
        •	Consultoría TI
        
         </ion-card-subtitle>
      <ion-item>
        <ion-icon 
        name="id-card"
        item-start
        style="color :rgb(110, 71, 42)">  
        </ion-icon>
        Experience
      </ion-item>
      <ion-card-subtitle class="cardSubtitle">Developer • Multiplatform Software Developer • Avante Distribuidor Automotriz S.A DE C.V</ion-card-subtitle>
      <ion-card-subtitle class="cardSubtitle">Administrator • Receptionist • Hotel Tenamache River Ruiz, Nayarit, Mexico.</ion-card-subtitle>
      <ion-card-subtitle class="cardSubtitle">Technician • Network Technician • Lomtec Tepic, Nayarit, Mexico</ion-card-subtitle>
      
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <a href='https://www.facebook.com/brayan.gallegos.7771'><ion-icon name="logo-facebook" style="color:dodgerblue"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.instagram.com/bgallegossss/'><ion-icon name="logo-instagram" style="color:hotpink"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.linkedin.com/in/brayan-yahir-gallegos-estrada-2950aa273/'><ion-icon name="logo-linkedin" style="color:midnightblue"></ion-icon></a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/noticias']">
          <ion-icon name="newspaper"></ion-icon>
          News
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/acerca']">
          <ion-icon name="information"></ion-icon>
          About Us
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/contacto']">
          <ion-icon name="call"></ion-icon>
          Contacts
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/productos']">
          <ion-icon name="file-tray-stacked"></ion-icon>
          Products
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

