<!--  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<body>

    <div class="d-flex-center">
        <div> 
        </div>
        <form class="formulario" [formGroup]="bgForm" novalidate>
            <div>
                <img [routerLink]="['/landing']" src="assets/img/TituloDOT.png" />
            </div>
            <h2 class="create-account">Iniciar sesión</h2>
            <div class="iconos">
                <div class="border-icon" id="googleLogin">
                    <i class='bx bxl-google'></i>
                </div>
                <div class="border-icon" id="githubLogin">
                    <i class='bx bxl-github' ></i>
                </div>
                <div class="border-icon" id="facebookLogin">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div> 

            <div>
            <input type="text" id="signup-email" class="form-control mb-3" placeholder="Correo electronico" required>
            <div *ngIf="this.bgForm.controls?.['email'].touched && this.bgForm.controls?.['email'].invalid">
                <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Email is required.</ion-text>
                <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Please provide valid email.</ion-text>
            </div>
            <input type="password" id="signup-password" class="form-control mb-3" placeholder="Contraseña" required>
            <a class="nav-link active" style="text-align: end; font-size: 14px;" [routerLink]="['/reset-password']">¿olvidó su contraseña?</a>
            <button (click)="login()" text="Iniciar Sesión" >Iniciar Sesión</button>
           
                
             </div>
            
        </form>
    </div>
</body>
    
     -->


     <ion-content class="d-flex-center" [fullscreen]="true">

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large"></ion-title>
        </ion-toolbar>
      </ion-header>

        <div class="header">
          <img [routerLink]="['/landing']" src="assets/img/TituloDOT.png" />

          <ion-title class="title" size="large">Welcome back</ion-title>
          <p class="subtitle">Sign in to access Don´t Overthink</p>
        </div>
        <form [formGroup]="bgForm"  novalidate>
          <div class="ion-padding">
      
            <ion-item>
              <ion-input placeholder="Correo electronico" formControlName="email" class="input" />
              <ion-icon name="person-outline"></ion-icon>
              
            </ion-item>
          
            <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.bgForm.controls?.['email'].touched && this.bgForm.controls?.['email'].invalid">
                <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Email is required.</ion-text>
                <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Enter a valid email
                  .</ion-text>
            </div>
            
            <ion-item>
              <ion-input type="password" placeholder="Contraseña" formControlName="password" class="input" />
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-item>
            <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.bgForm.controls?.['password'].touched && this.bgForm.controls?.['password'].invalid">
                <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">Password is required.</ion-text>
                <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput"  color="danger">Enter a valid password.</ion-text>
            </div>
          
            <div class="forgotpassword">
              <a [routerLink]="['/reset-password']" style="color: #5260ff">Forgot your password?</a>
            </div>
      
          </div>
           <div class="signupLink">
            <p class="p">New member?<a [routerLink]="['/sign-up']" style="color: #5260ff">Register now</a></p>
          </div> 
      
          <div *ngIf="bgForm.valid"  type="submit" style="text-align: center;">
            <button (click)="login()" type="submit" >Sign in</button>
          </div>
     
          
        </form>
      </ion-content>


  
