
       <ion-content class="d-flex-center">
        <ion-header collapse="condense">
          <ion-toolbar>
            <ion-title size="large"></ion-title>
          </ion-toolbar>
        </ion-header>
      
        <div class="header">
          <img [routerLink]="['/landing']" src="assets/img/TituloDOT.png" />

          <ion-title class="title" size="large">Registrarse</ion-title>
          <p class="subtitle">Crea una cuenta para acceder a todas las funcionalidades de Don´t Overthink</p>
        </div>
        <form [formGroup]="bgForm" novalidate>
          <div class="ion-padding">

            <ion-item >
              <ion-input class="input" formControlName="fullname" placeholder="Nombre de usuario" />
              <ion-icon slot="end" name="person-outline"></ion-icon>
            </ion-item>

            <div style="padding-top: -26px;padding-bottom: 16px;"
              *ngIf="this.bgForm.controls?.['fullname'].touched && this.bgForm.controls?.['fullname'].invalid">
              <ion-text *ngIf="errorControl.fullname.errors?.required" class="errorInput" color="danger">Fullname is
                required.</ion-text>
            </div>
            
            <ion-item>
              <ion-input class="input" formControlName="email" placeholder="Correo electronico" />
              <ion-icon slot="end" name="mail-outline"></ion-icon>
            </ion-item>
            <div style="padding-top: -26px;padding-bottom: 16px;"
              *ngIf="this.bgForm.controls?.['email'].touched && this.bgForm.controls?.['email'].invalid">
              <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">Correo requerido.</ion-text>
              <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Ingrese un correo valido.</ion-text>
            </div>
            <ion-item>
              <ion-input class="input" type="password" formControlName="password" placeholder="Contraseña" />
              <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
            </ion-item>
            <div style="padding-top: -26px;padding-bottom: 16px;"
              *ngIf="this.bgForm.controls?.['password'].touched && this.bgForm.controls?.['password'].invalid">
              <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">Contraseña requerida.</ion-text>
              <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput" color="danger">Ingrese una contraseña valida.
              </ion-text>
            </div>
            <ion-item>
              <ion-input class="input" type="numeric" formControlName="contact" placeholder="Telefono" />
              <ion-icon slot="end" name="call-outline"></ion-icon>
            </ion-item>
            <div style="padding-top: -26px;padding-bottom: 16px;"
              *ngIf="this.bgForm.controls?.['contact'].touched && this.bgForm.controls?.['contact'].invalid">
              <ion-text *ngIf="errorControl.contact.errors?.required" class="errorInput" color="danger">Telefono es requerido.</ion-text>
                <ion-text *ngIf="errorControl.contact.errors?.pattern" class="errorInput" color="danger">Ingrese solamente numeros</ion-text>
                <ion-text *ngIf="errorControl.contact.errors?.minlength" class="errorInput" color="danger">el telefono debe contener 10 numeros</ion-text>
          
              </div>
          <!--   <p>Or</p> -->
            
          <!-- <ion-button color="light" (click)='this.signUpWithGoogle()'>
            <ion-icon src="assets/icon/google.svg"></ion-icon>
            <ion-text>Continue with Google</ion-text>
          </ion-button> -->
      
            <div class="loginLink">
              <p class="p">¿Ya tienes una cuenta? <a [routerLink]="['/login']" style="color: #5260ff">Iniciar sesión</a></p>
            </div>
          </div>
      
          <div *ngIf="bgForm.valid"  type="submit" style="text-align: center;">
            <button (click)="signUP()" type="submit" >Registrarse</button>
          </div>
         
      
        </form>
      
      </ion-content>