<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
   
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tituloBg">Products</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="d-flex-center">
  <ion-card>
    <img class="imgBg" src="assets/img/almacen.png" />
  
  
    <ion-card-content>
      <div >
        <button class="button-new" (click)="nuevo()" slotype="submit">New product</button>
      </div>
      
    
      <div *ngIf="enableNewProducto">
    
        <ion-item>
          <ion-buttons slot="end">
            <ion-button (click)="enableNewProducto = false">
              <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    
        <ion-card-header>
          <ion-card-title class="cardTitle">New merch</ion-card-title>
          <ion-card-subtitle class="cardsubTitle">Enter the data of the new product</ion-card-subtitle>
          
        </ion-card-header>
        <ion-item>
          <ion-label class="normal" position="floating">
            Name:
          </ion-label>
          <ion-input [(ngModel)]="newProducto.nombre" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label class="normal" position="floating">
            Precio:
          </ion-label>
          <ion-input [(ngModel)]="newProducto.precioNormal" class="normal" type="text" type="number"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label class="normal" position="floating">
            Discount price:
          </ion-label>
          <ion-input [(ngModel)]="newProducto.precioReducido" class="normal" type="text" type="number"></ion-input>
        </ion-item>
    
        <button class="button-guardar" (click)="guardarProducto()" slotype="submit">Save</button>
      </div>
    
      <ion-card-header>
        <ion-card-title class="cardTitle">Store</ion-card-title>
        <ion-card-subtitle class="cardsubTitle">Products in stock</ion-card-subtitle>
        
      </ion-card-header>
    
      <ion-item  *ngFor="let producto of productos">
        <ion-label class="normal">Producto: {{producto.nombre}}</ion-label>
        <ion-label class="normal">Precio: $ {{producto.precioNormal}}</ion-label>
        <ion-label class="normal">Precio C/Descuento: $ {{producto.precioReducido}}</ion-label>

        <ion-buttons slot="end">
          <ion-button (click)="newProducto = producto; enableNewProducto = true ">
            <ion-icon slot="icon-only" color="warning" name="create-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteProducto(producto)">
            <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
          </ion-button>
        </ion-buttons>
    
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <a href='https://www.facebook.com/profile.php?id=61553919293374'><ion-icon name="logo-facebook" style="color:dodgerblue"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.instagram.com/dontoverthinkpj/'><ion-icon name="logo-instagram" style="color:hotpink"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.linkedin.com/in/brayan-yahir-gallegos-estrada-2950aa273/'><ion-icon name="logo-linkedin" style="color:midnightblue"></ion-icon></a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/noticias']">
          <ion-icon name="newspaper"></ion-icon>
          News
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/acerca']">
          <ion-icon name="information"></ion-icon>
          About Us
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/contacto']">
          <ion-icon name="call"></ion-icon>
          Contacts
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/productos']">
          <ion-icon name="file-tray-stacked"></ion-icon>
          Products
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
