<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
   
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tituloBg">Productos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="d-flex-center">
  <ion-card>
    <img class="imgBg" src="assets/img/tienda.jpg" />
  
  
    <ion-card-content>
      <div >
        <button class="button-new" (click)="nuevo()" slotype="submit">Nuevo producto</button>
      </div>
      
    
      <div *ngIf="enableNewProducto">
    
        <ion-item>
          <ion-buttons slot="end">
            <ion-button (click)="enableNewProducto = false">
              <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    
        <ion-card-header>
          <ion-card-title class="cardTitle">Nueva mercancia</ion-card-title>
          <ion-card-subtitle class="cardsubTitle">Ingrese los datos del nuevo producto</ion-card-subtitle>
          
        </ion-card-header>
        <ion-item>
          <ion-label class="normal" position="floating">
            Nombre:
          </ion-label>
          <ion-input [(ngModel)]="newProducto.nombre" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label class="normal" position="floating">
            Precio inicial:
          </ion-label>
          <ion-input [(ngModel)]="newProducto.precioNormal" class="normal" type="text" type="number"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label class="normal" position="floating">
            Precio descuento:
          </ion-label>
          <ion-input [(ngModel)]="newProducto.precioReducido" class="normal" type="text" type="number"></ion-input>
        </ion-item>
    
        <button class="button-guardar" (click)="guardarProducto()" slotype="submit">Guardar</button>
      </div>
    
      <ion-card-header>
        <ion-card-title class="cardTitle">Almacen</ion-card-title>
        <ion-card-subtitle class="cardsubTitle">Productos en existencia</ion-card-subtitle>
        
      </ion-card-header>
    
      <ion-item  *ngFor="let producto of productos">
        <ion-label class="normal">{{producto.nombre}}</ion-label>
        
        <ion-buttons slot="end">
          <ion-button (click)="newProducto = producto; enableNewProducto = true ">
            <ion-icon slot="icon-only" color="warning" name="create-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteProducto(producto)">
            <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
          </ion-button>
        </ion-buttons>
    
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <a href='https://www.facebook.com/'><ion-icon name="logo-facebook" style="color:dodgerblue"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.youtube.com/'><ion-icon name="logo-youtube" style="color:red"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.github.com/'><ion-icon name="logo-github" style="color:gray"></ion-icon></a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home"></ion-icon>
          inicio
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/noticias']">
          <ion-icon name="newspaper"></ion-icon>
          noticias
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/acerca']">
          <ion-icon name="information"></ion-icon>
          acerca
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/contacto']">
          <ion-icon name="call"></ion-icon>
          contacto
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/productos']">
          <ion-icon name="file-tray-stacked"></ion-icon>
          productos
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
