<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
   
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tituloBg">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <swiper-container  
    initial-slide="0"
    [navigation]="true"
    [pagination]="{type:'bullets', clickable:true}"
    [autoplay]="true"
    [loop]="true"
    [scrollbar]="{draggable:true}"
    effect="cube"
    >
      <swiper-slide >
       
          <img src="assets/img/1.png" />
       
      </swiper-slide>
      
      <swiper-slide>

        <img  src="assets/img/2.png" />
        
          
       
      </swiper-slide >
  
      <swiper-slide>
        <img  src="assets/img/3.png" />
        
      
      </swiper-slide>
  
      <swiper-slide>
        
        <img src="assets/img/4.png" />
        
      </swiper-slide>

      <swiper-slide>
        
        <img  src="assets/img/5.png" />
      
    </swiper-slide>
    <swiper-slide>
        
      <img  src="assets/img/6.png" />
    
  </swiper-slide>
  <swiper-slide>
        
    <img  src="assets/img/9.png" />
  
</swiper-slide>
    </swiper-container>
    <ion-card-header>
      <ion-card-title class="tituloapp">WELCOME TO OVERTHINK </ion-card-title>
      <ion-card-subtitle class="subtituloapp">The new game that has arrived in the gaming world</ion-card-subtitle>
    </ion-card-header>
    <ion-grid class="contenedor">

     
      <ion-card class="card">
        <ion-grid class="card-header">
          <img src="assets/img/6.png" />
          
        </ion-grid>
        
        <ion-card-header>
          <ion-card-subtitle>LILMOTT</ion-card-subtitle>
          <ion-card-title>Lilmott's are the enemies in charge of preventing the passage of our protagonist.</ion-card-title>
        </ion-card-header>
      </ion-card>
     
   
      
        <ion-card class="card">
          <ion-grid class="card-header">
            <img src="assets/img/5.png" />  
          </ion-grid>
          
          <ion-card-header>
            <ion-card-subtitle>RENATA</ion-card-subtitle>
            <ion-card-title>Renata is a ghost puppy who will be our protagonist's guide. </ion-card-title>
          </ion-card-header>
        </ion-card>
        
       
          <ion-card class="card">
            <ion-grid class="card-header">
              <img src="assets/img/3.png" />
              
            </ion-grid>
            
            <ion-card-header>
              <ion-card-subtitle>NOAH</ion-card-subtitle>
              <ion-card-title>Noah is a small antidepressant pill which is the protagonist of this adventure.</ion-card-title>
            </ion-card-header>
          </ion-card>

          <ion-card class="card">
            <ion-grid class="card-header">
              <img  src="assets/img/4.png" />
            </ion-grid>
            
            <ion-card-header>
              <ion-card-subtitle>NOAH</ion-card-subtitle>
              <ion-card-title>Help Noah escape from the Lilmotts.</ion-card-title>
            </ion-card-header>
          </ion-card>
         
       
          
            <ion-card class="card">
              <ion-grid class="card-header">
                <img src="assets/img/9.png" />
              </ion-grid>
              
              <ion-card-header>
                <ion-card-subtitle>COMPANY</ion-card-subtitle>
                <ion-card-title>Pixel Joy Creations.</ion-card-title>
              </ion-card-header>
            </ion-card>
            
           
              <ion-card class="card">
                <ion-grid class="card-header">
                  <img  src="assets/img/2.png" />
                </ion-grid>
                
                <ion-card-header>
                  <ion-card-subtitle>NOAH</ion-card-subtitle>
                  <ion-card-title>Immerse yourself in this new adventure.</ion-card-title>
                </ion-card-header>
              </ion-card>
    
    </ion-grid>
  </ion-card>
  <ion-card>
    
    <video width="100%" controls>
      <source src="assets/video/trailerDOT.mp4" controls="controls" poster="assets/img/1.png">
    </video>
    
    <ion-card-header>
      <ion-card-title class="tituloapp">DON´T OVERTHINK COMING SOON</ion-card-title>
      <ion-card-subtitle class="subtituloapp">The new game inspired by mental health developed by PJ CREATIONS is about to reach the gaming world</ion-card-subtitle>
      <ion-card-subtitle class="footer"><p class="copyright-text">Copyright &copy; 2024 - Pj Creations - All Rights Reserved 
      </p></ion-card-subtitle>

    </ion-card-header>

  </ion-card>
 
  




  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <a href='https://www.facebook.com/profile.php?id=61553919293374'><ion-icon name="logo-facebook" style="color:dodgerblue"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.instagram.com/dontoverthinkpj/'><ion-icon name="logo-instagram" style="color:hotpink"></ion-icon></a>
      </ion-fab-button>
      <ion-fab-button>
        <a href='https://www.linkedin.com/in/brayan-yahir-gallegos-estrada-2950aa273/'><ion-icon name="logo-linkedin" style="color:midnightblue"></ion-icon></a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/inicio']">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/noticias']">
          <ion-icon name="newspaper"></ion-icon>
          News
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/acerca']">
          <ion-icon name="information"></ion-icon>
          About Us
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/contacto']">
          <ion-icon name="call"></ion-icon>
          Contacts
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/productos']">
          <ion-icon name="file-tray-stacked"></ion-icon>
          Products
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

